/*подвал-сайта*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  margin-bottom: 20px;

  .logo-studio {
    color: #ffffff;
  }
}

.footer-address-list-item,
.footer-tel,
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $title-dark-theme-color;
}

.footer-address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-tel,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

.invitation,
.subscription {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-dark-theme-color;
}

.invitation {
  margin-bottom: 20px;
}

.subscription {
  display: block;
  margin-bottom: 20px;
}

.subscription-form-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;

  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }

  .footer-coordinates,
  .footer-invitation {
    margin-bottom: 60px;
  }

  .subscription-form-input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-coordinates-invitation {
    display: flex;
    justify-content: space-between;
  }
  .footer-subscription {
    text-align: center;
  }

  .subscription-form-input {
    width: 450px;
    margin-bottom: 20px;
  }

  .footer-coordinates {
    text-align: center;
    padding-left: 76px;
    margin-bottom: 60px;
  }

  .footer-invitation {
    padding-top: 5px;
    padding-right: 89px;
  }

  .invitation {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .container,
  .footer-coordinates-invitation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-coordinates-invitation {
    margin-right: 94px;
  }

  .footer-coordinates {
    margin-right: 69px;
  }

  .invitation {
    margin-bottom: 20px;
  }

  // /* форма подписки */

  .subscription {
    display: block;
    margin-bottom: 20px;
  }

  .footer-subscription-wrapper {
    display: flex;
  }

  .subscription-form-input {
    display: block;
    width: 358px;
    margin-right: 12px;
  }
}
