/*шапка-сайта*/

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}

.logo-web {
  color: #2196f3;
}

.navigation-list-link,
.header-tel,
.header-mail {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-tel,
.header-mail {
  color: $text-light-theme-color;

  &:hover .address-list-item-svg,
  &:focus .address-list-item-svg {
    fill: $accent-color;
  }
}

.address-list-item-svg {
  fill: $text-light-theme-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link {
  position: relative;
  display: inline-flex;
}

.navigation-list-link.current::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  content: '';
}

.navigation .navigation-list-link.current {
  color: $accent-color;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    border: 1px solid #ececec;
  }

  .header-container {
    justify-content: space-between;
  }

  .navigation-list-link,
  .header-tel,
  .header-mail {
    font-size: 18px;
    line-height: 1.17;
  }

  .menu-btn {
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: $accent-color;
    }

    &.is-open {
      .icon-close {
        display: block;
      }
      .icon-burger {
        display: none;
      }
    }
  }

  .icon-close {
    display: none;
  }

  .menu-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 393px;
    text-align: center;
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;

    opacity: 0;
    transform: scale(0);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      opacity: 1;
      transform: scale(1);
    }
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .header-address {
    margin-top: 60px;
  }

  .address-list-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .navigation-list-link.current::after {
    bottom: -8px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .menu-wrapper {
    display: flex;
  }

  .navigation-list {
    display: flex;
  }

  .header {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .logo {
    margin-right: 81px;
  }

  .navigation-list-link {
    font-size: 14px;
    line-height: 1.14;
  }

  .header-tel,
  .header-mail {
    font-size: 12px;
    line-height: 1.17;
  }

  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .address-list {
    margin-left: 84px;
  }

  .address-list-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .navigation-list-link.current::after {
    bottom: -48px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .header-container {
    justify-content: center;
  }

  .address-list {
    display: flex;
  }

  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 85px;
  }

  .address-list {
    margin-left: 305px;
  }

  .address-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .address-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .navigation-list-link,
  .header-tel,
  .header-mail {
    font-size: 14px;
    line-height: 1.14;
  }

  .navigation-list-link.current::after {
    bottom: -34px;
  }
}
