/*шапка-сайта*/

.header {
  // background-color: rosybrown;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &.is-open {
    .icon-close {
      display: block;
    }
    .icon-burger {
      display: none;
    }
  }
}

.icon-close {
  display: none;
}

.menu-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 393px;
  text-align: center;
  // background-color: tomato;
  padding-top: 60px;
  padding-bottom: 60px;

  opacity: 0;
  transform: scale(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 1;
    transform: scale(1);
  }
}

.logo {
  margin-right: 85px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-web {
  color: #2196f3;
}

.navigation-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.header-address {
  margin-top: 60px;
}

.navigation-list-link,
.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-tel,
.header-mail {
  color: $text-light-theme-color;

  &:hover .address-list-item-svg,
  &:focus .address-list-item-svg {
    fill: $accent-color;
  }
}

.address-list-item-svg {
  fill: $text-light-theme-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.navigation-list-link {
  position: relative;
  display: inline-flex;
}

.navigation-list-link.current::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  content: '';
}

.navigation .navigation-list-link.current {
  color: $accent-color;
}

// .header {
//   border: 1px solid #ececec;

//   .container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }

// .navigation,
// .address-list {
//   display: flex;
//   align-items: center;
// }

// .logo {
//   margin-right: 85px;
//   font-family: $secondary-font;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   color: #000000;
// }

// .logo-web {
//   color: #2196f3;
// }

// .navigation-list {
//   display: flex;
// }

// .navigation-list-item:not(:last-child) {
//   margin-right: 50px;
// }

// .navigation-list-link {
//   padding-top: 32px;
//   padding-bottom: 32px;

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }
// }

// .address-list-item:not(:last-child) {
//   margin-right: 30px;
// }

// .navigation-list-link,
// .header-tel,
// .header-mail {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: #212121;
// }

// .navigation-list-item.current::after {
//   display: block;
//   width: 100%;
//   height: 4px;
//   background-color: #2196f3;
//   border-radius: 2px;
//   content: '';
// }

// .navigation .navigation-list-link.current {
//   color: $accent-color;
// }

// .header-tel,
// .header-mail {
//   display: flex;
//   align-items: center;
//   font-style: normal;
//   color: $text-light-theme-color;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: $accent-color;
//   }

//   &:hover .address-list-item-svg,
//   &:focus .address-list-item-svg {
//     fill: $accent-color;
//   }
// }

// .address-list-item-svg {
//   fill: $text-light-theme-color;
//   margin-right: 10px;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
