/*портфолио*/

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-filter-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-light-theme-color;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $title-dark-theme-color;
    background-color: $accent-color;
    outline: none;
  }
}

.portfolio-gallery-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-gallery-list-item {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-gallery-list-item-link {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    outline: none;
  }

  &:hover .absolute-portfolio-gallery-description {
    opacity: 1;
  }
  &:hover .absolute-portfolio-gallery-description {
    top: 0;
  }
}

.portfolio-gallery-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $text-light-theme-color;

  margin: 0;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.portfolio-gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-light-theme-color;

  margin-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
}

.overlay {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.absolute-portfolio-gallery-description {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: $title-dark-theme-color;
}
