/*кнопка героя и модалки*/

.modal-btn {
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}

.modal-btn,
.subscription-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: $title-dark-theme-color;
  background-color: $accent-color;

  cursor: pointer;
}

/*кнопка подвала*/

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 29px;
  padding-right: 13px;
}
