/*модальное окно*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal-form {
  width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px;
}

.modal-form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-light-theme-color;
  margin-bottom: 30px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.modal-form-input,
.modal-form-massage {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  width: 100%;
  color: var(--text-light-theme-color);
  cursor: pointer;

  &:focus,
  &:not(:placeholder-shown) {
    outline: none;
    border-color: $accent-color;
  }
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
}

.modal-form-massage {
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
}

.modal-form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  .modal-form-input:focus ~ &,
  .modal-form-input:not(:placeholder-shown) ~ & {
    transform: translate(-25px, -45px);
    color: $accent-color;
  }
}

.input-svg {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: $accent-color;
  }
}

.modal-form-textarea-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.modal-form-textarea-label {
  position: absolute;
  top: 12px;
  left: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  .modal-form-massage:focus + &,
  .modal-form-massage:not(:placeholder-shown) + & {
    transform: translateY(-40px);
    color: $accent-color;
  }
}

.modal-form-option-lable {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form-custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-light-theme-color;
  border-radius: 2px;
  margin-right: 10px;

  .modal-form-checkbox:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
  }
}

.checkbox-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

.modal-form-option-span {
  line-height: 1.7;
  letter-spacing: 0.03em;

  & a {
    color: $accent-color;
  }
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.close-btn-svg {
  position: absolute;
  top: 6px;
  right: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
